<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.0.0" targetFramework="net48" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net48" />
  <package id="GeckoFX" version="1.0.5" targetFramework="net48" />
  <package id="geckofx-core" version="33.0.5.1" targetFramework="net48" />
  <package id="Geckofx-Core-45.0.36.02" version="45.0.36" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3719.77" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2.DevToolsProtocolExtension" version="1.0.2901" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NuGet.Common" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Configuration" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Packaging" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Protocol" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Resolver" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Versioning" version="7.0.1" targetFramework="net48" />
  <package id="Svg" version="2.4.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net48" />
</packages>